<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316710987776-j8mnjjc5cv1a8v69nunr25frft92mhp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316710987776-j8mnjjc5cv1a8v69nunr25frft92mhp3</string>
	<key>API_KEY</key>
	<string>AIzaSyBBbpGPPdq8U_4o6pJoAN4tZsntzMbHy1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>316710987776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maximsamus.TextChatFireBase</string>
	<key>PROJECT_ID</key>
	<string>my-text-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>my-text-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316710987776:ios:f127251284308b69c590e5</string>
</dict>
</plist>